

.style-switcher{
    position: fixed;
    top:0px;
    right: 0;
    z-index: 10; 
    background-color: #ffffff;
    padding: 15px;
    border: 1px solid #d4d4e3;
    
}
.style-switcher h5{
    font-size: 14px;
    color: #302e4d;
    margin-top:0px;
    margin-bottom: 4px;
    padding-bottom: 5px;
    border-bottom: 1px solid #e8dfec;
}
.style-switcher ul{
    margin: 0;
    padding: 0;
    display: block;
    margin-bottom: px;
    list-style:none;
}
.style-switcher ul li{
    display: inline-block;
}
.style-switcher ul li a{
    height:20px;
    width: 20px;
    display: block;
    border-radius: 50%;
    cursor: pointer;
    text-decoration: none;
    margin-right: 2px;
}